# 10. Sets

```py
myset = {"apple", "banana", "cherry"}
```

## 10.1 Set

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are *List*, *Tuple*, and *Dictionary*, all with different qualities and usage.

A set is a collection which is *unordered, unchangeable**, and *unindexed.*

**Note:** Set items are unchangeable, but you can remove items and add new items.

Sets are written with curly brackets.

In [1]:
# Example
# Create a set
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

**Note:** Sets are unordered, so you cannot be sure in which order the items will appear.

### 10.1.1 Set Items

Set items are unordered, unchangeable, and do not allow duplicate values.

### 10.1.2 Unordered

Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

### 10.1.3 Unchangeable

Set items are unchangeable, meaning that we cannot change the items after the set has been created.
Once a set is created, you cannot change its items, but you can remove items and add new items.

### 10.1.4 Duplicates Not Allowed

Sets cannot have two items with the same value.

In [2]:
# Example
# Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'cherry', 'banana'}

### 10.1.5 Get the Length of a Set

To determine how many items a set has, use the **len()** function.

In [3]:
# Example
# Get the number of items in a set:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

### 10.1.6 Set Items - Data Types

Set items can be of any data type:

In [4]:
# Example
# String, int and boolean data types:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1, set2, set3)

{'apple', 'cherry', 'banana'} {1, 3, 5, 7, 9} {False, True}

### 10.1.7 type()

From Python's perspective, sets are defined as objects with the data type 'set':
```py
<class set>
```

In [5]:
# Example
# What is the data type of a set?

myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

### 10.1.8 The set() Constructor

It is also possible to use the **set()** constructor to make a set.

In [6]:
# Example
# Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

### 10.1.9 Python Collections (Arrays)

There are four collection data types in the Python programming language:

- **List** is a collection which is ordered and changeable. Allows duplicate members.
- **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
- **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- **Dictionary** is a collection which is ordered** and changeable. No duplicate members.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

## 10.2 Access Set Items

### 10.2.1 Access Items

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a **for** loop, or ask if a specified value is present in a set, by using the **in** keyword.

In [7]:
# Example
# Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [8]:
# Example
# Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

## 10.3 Add Set Items

Once a set is created, you cannot change its items, but you can add new items.

### 10.3.1 Add Items

To add one item to a set use the **add()** method.

In [9]:
# Example
# Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'cherry', 'orange', 'banana'}

### 10.3.2 Add Sets

To add items from another set into the current set, use the **update()** method.

In [10]:
# Example
# Add elements from tropical into thisset:

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'pineapple', 'papaya', 'banana', 'apple', 'cherry', 'mango'}

### 10.3.3 Add Any Iterable

The object in the **update()** method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [11]:
# Example
# Add elements of a list to at set:

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'cherry', 'kiwi', 'orange', 'apple'}

## 10.4 Remove Set Items

### 10.4.1 Remove Item

To remove an item in a set, use the **remove()**, or the **discard()** method.

In [14]:
# Example
# Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

**Note:** If the item to remove does not exist, remove() ***will raise an error***.

In [15]:
# Example
# Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

**Note:** If the item to remove does not exist, discard() ***will NOT raise an error***.

You can also use the **pop()** method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the **pop()** method is the removed item.

In [16]:
# Example
# Remove the last item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'cherry', 'banana'}

**Note:** Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

In [17]:
# Example
# The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [18]:
# Example
# The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

## 10.5 Loop Sets

You can loop through the set items by using a **for** loop:

In [19]:
# Example
# Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

## 10.6 Join Sets

### 10.6.1 Join Two Sets

There are several ways to join two or more sets in Python.

You can use the **union()** method that returns a new set containing all items from both sets, or the **update()** method that inserts all the items from one set into another:

In [20]:
# Example
# The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'a', 1, 2, 3, 'c', 'b'}

In [21]:
# Example
# The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'a', 1, 2, 3, 'c', 'b'}

**Note:** Both **union()** and **update()** will exclude any duplicate items.

### 10.6.2 Keep *ONLY* the Duplicates

The **intersection_update()** method will keep only the items that are present in both sets.

In [22]:
# Example
# Keep the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

The **intersection()** method will return a new set, that only contains the items that are present in both sets.

In [24]:
# Example
# Return a set that contains the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

### 10.6.3 Keep All, But *NOT* the Duplicates

The **symmetric_difference_update()** method will keep only the elements that are *NOT* present in both sets.

In [1]:
# Example
# Keep the items that are not present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'banana', 'cherry', 'microsoft'}

The **symmetric_difference()** method will return a new set, that contains only the elements that are *NOT* present in both sets.

In [2]:
# Example
# Return a set that contains all items from both sets, except items that are present in both:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'banana', 'google', 'microsoft'}

## 10.7 Set Methods

Python has a set of built-in methods that you can use on sets.

https://www.w3schools.com/python/python_sets_methods.asp

| Method                         | Description                                                                      |  
| ------------------------------ | ---------------------------------------------------------------------------------| 
| add()                          | Adds an element to the set                                                       | 
| clear()                        | Removes all the elements from the set                                            | 
| copy()                         | Returns a copy of the set                                                        | 
| difference()                   | Returns a set containing the difference between two or more sets value           | 	
| difference_update()            | Removes the items in this set that are also included in another, specified set   |
| discard()                      | Remove the specified item                                                        |
| intersection()                 | Returns a set, that is the intersection of two other sets                        | 
| intersection_update()          | Removes the items in this set that are not present in other, specified set(s)    | 
| isdisjoint()                   | Returns whether two sets have a intersection or not                              | 
| issubset()                     | Returns whether another set contains this set or not                             | 	
| issuperset()                   | Returns whether this set contains another set or not                             |
| pop()                          | Removes an element from the set                                                  |
| remove()                       | Removes the specified element                                                    |
| symmetric_difference()         | Returns a set with the symmetric differences of two sets                         |
| symmetric_difference_update()  | inserts the symmetric differences from this set and another                      |
| union()                        | Return a set containing the union of sets                                        |
| update()                       | Update the set with the union of this set and otherst                            |