# 9. Tuples

In [1]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)

('apple', 'banana', 'cherry')

## 9.1 Tuple

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are *List*, *Set*, and *Dictionary*, all with different qualities and usage. 

A tuple is a collection which is ordered and **unchangeable**.

Tuples are written with round brackets.

In [2]:
# Example
# Create a Tuple:

thistuple = ("apple", "banana", "cherry")

print(thistuple)

('apple', 'banana', 'cherry')

### 9.1.1 Tuple Items

Tuple items are ordered, unchangeable and allow duplicate values.

Tuple items are indexed, the first item has index **[0]**, the second item has index **[1]** etc.

### 9.1.2 Ordered

When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

### 9.1.3 Unchangeable

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

### 9.1.4 Allow Duplicates

Since tuples are indexed, they can have items with the same value:

In [1]:
# Example
# Tuples allow duplicate values:

thistuple = ("apple", "banana", "cherry", "apple", "cherry")

print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

### 9.1.5 Tuple Lenght

To determine how many items a tuple has, use the **len()** function

In [2]:
# Example
# Print the number of items in the tuple:

thistuple = ("apple", "banana", "cherry")

print(len(thistuple))

3

### 9.1.6 Create Tuple With One Item

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recongnize it as a tuple.

In [4]:
# Example
# One item tuple, rember the comma:

thistuple = ("apple",)
print(type(thistuple))

# NOT a tuple

not_thistuple = ("apple")
print(type(not_thistuple))

<class 'tuple'>
<class 'str'>

### 9.1.7 Tuple Items - Data Types

Tuple items can be of any data type

In [20]:
# Example
# String, int and boolean data types:

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(type(tuple1), type(tuple2), type(tuple3))

<class 'tuple'> <class 'tuple'> <class 'tuple'>

A tuple can contain different data types:

In [21]:
# Example
# A tuple with strings, integers and boolean values:

tuple1 = ("abc", 34, True, 40, "male")

print(tuple1)

('abc', 34, True, 40, 'male')

### 9.1.8 type()

From Python's perspective, tuples are defined as objects with the data type 'tuple':

```py
<class 'tuple'>
```

In [22]:
# Example
# What is the data type of a tuple?

mytuple = ("apple", "banana", "cherry")

print(type(mytuple))

<class 'tuple'>

### 9.1.9 The tuple() Constructor

It is also possible to use the **tuple()** constructor to make a tuple.

In [25]:
# Example
# Using the tuple() method to make a tuple:

thistuple = tuple(("apple", "banana", "cherry")) # note the double round brackets
print(thistuple)

('apple', 'banana', 'cherry')

### 9.1.10 Python Collections (Arrays)

There are four collection data types in the Python programming language:

- **List** is a collection which is ordered and changeable. Allows duplicate members.
- **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
- **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- **Dictionary** is a collection which is ordered** and changeable. No duplicate members.

*Set items are unchangeable, but you can remove and/or add items whenever you like.

**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

## 9.2 Acess Tuple Items

You can access tuple items by referring to the index number, inside square brackets:

In [26]:
# Example
# Print the second item in the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[1]) # index 1, aka "banana"

banana

Note: The first item has index 0.

### 9.2.1 Negative Indexing

Negative indexing means start from the end.

**-1** refers to the last item, **-2** refers to the second last item etc.

In [27]:
# Example
# Print the last item of the tuple

thistuple = ("apple", "banana", "cherry")

print(thistuple[-1])

cherry

### 9.2.2 Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [28]:
# Example
# Return the third, foruth, and fith item:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

**Note:** The search will start at index 2 (included) and end at index 5 (not included).

*Remember that the first item has index 0.*

By leaving out the start value, the range will start at the first item:

In [29]:
# Example
# This example returns the items from the beginning to, but NOT included, "kiwi":

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

By leaving out the end value, the range will go on to the end of the list:

In [30]:
# Example
# This example returns the items from "cherry" and to the end:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

### 9.2.3 Range of Negative Indexes

Specify negative indexes if you want to start the search from the end of the tuple:

In [31]:
# Example
# This example returns the items from index -4 (includeded) to index -1 (excluded)

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

### 9.2.4 Check if Item Exists

To determine if a specifed item is present in a tuple use the **in** keyword:

In [35]:
# Example
# Check if "apple" is present in the tuple

thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

else:
    print("No, 'apple' is in the fruits tuple")

No 'apple' in fruits tuple

## 9.3 Update Tuples

Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds...

### 9.3.1 Change Tuple Values

Once a tuple is created, you cannot change its values. Tuples are **unchangeable**, or ***immutable*** as it also is called.

But there is a workaround. You can convert the tuple into a **list**, change the **list**, and convert the **list** back into a ***tuple***.

In [36]:
# Example
# Convert the tuple into a list to be able to change it:

x = ("apple", "banana", "cherry")
y = list(x)         # converts tuple to list
y[1] = "kiwi"       # change index 1, aka "banana"
x = tuple(y)        # converts list to tuple 

print(x)

('apple', 'kiwi', 'cherry')

### 9.3.2 Add Items

Since tuples are immutable, they do not have a build-in **append()** method, but there are other ways to add items to a ***tuple***

**1. Convert into a list:**  Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [40]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'r')

**2. Add tuple to a tuple** , You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [43]:
thistuple = ("apple", "banana", "cherry")
newtuple = ("pineapple", "strawberry", "pear")

print(thistuple + newtuple)

thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'pineapple', 'strawberry', 'pear')
('apple', 'banana', 'cherry', 'orange')

**Note:** When creating a tuple with only one item, remember to include a comma after the item, otherwise it will not be identified as a tuple.

### 9.3.3 Remove Items

**Note:** You cannot remove items in a tuple.

Tuples are **unchangeable**, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [45]:
# Example
# Convert the tuple into a list, remove "apple", and conver it back into a tuple:


thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

Or you can delete the tuple completely:

In [47]:
# Example
# The "del" keyword can delete the tuple completley

thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

## 9.4 Unpacking Tuples

When we create a tuple, we normally assign values to it. This is called "*packing*" a tuple:

In [48]:
# Example
# Packing a tuple

fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

But, in Python, we are also allowed to extract the vaules back into variables. This is called "unpacking":

In [51]:
# Example
# Unpacking a tuple:

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

**Note:** The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

### 9.4.1 Using Asterisk*

If the number of variables is less than the number of values, you can add an **" * "** to the variable name and the values will be assigned to the variable as a list:

In [52]:
# Example
# Assign the rest of the vaules as a list called "red":

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [54]:
# Example
# Add a list of values the "tropic" variable:

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

## 9.5 Loop Tuples

You can loop through the tuple items by using a **for** loop.

In [56]:
# Example
# Iterate through the items and print the values:

thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

### 9.5.1 Loop Through the Index Numbers

You can also loop through the tuple items by referring to their index number.

Use the **range()** and **len()** functions to create a suitable iterable

In [58]:
# Example
# Print all items by referring to their index number:

thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

### 9.5.2 Using a While Loop

You can loop through the list items by using a **while** loop.

Use the **len()** function to determine the lenght of the tuple, then start at 0 and loop your way through the tuple items by refering to their indexes.

Rember to increase the index by 1 after each iteration.

In [59]:
# Example

thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1

apple
banana
cherry

## 9.6 Join Tuples

To join two or more tuples you can use the **+** operator:

In [61]:
# Example
# Join two tuples:

tuple1 = ("a", "b", "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

### 9.6.1 Multiply Tuples

To multiply the content of a tuple you can use the **"*"** operator:

In [62]:
# Example
# Multiply the fruits tuple by 2:

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

## 9.7 Tuple Methods

Python has two built-in methods that you can use on tuples.

| Method                      | Description                          |  
| ------------------------------ | ---------------------------------- | 
| count()                             | Returns the number of times a specified value occurs in a tuple                           | 
| index()                             | Searches the tuple for a specified value and returns the position of where it was found                        |